<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/story.css">
    <title>Story</title>
</head>

<body>
    <h1>Page 1 of story...</h1>
    <h1>
        <%= story.title %>
    </h1>
    <p>
        <%= story.segment %>
    </p>
    <div class="options">
        <form action="/story/:id" method="POST">
            <button id="option1">
                <%= story.option1 %>
            </button>
        </form>
        <form action="/story/:id" method="POST">
            <button id="option2">
                <%= story.option2 %>
            </button>
        </form>
    </div>
</body>

</html>