body{
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(/images/frederico-almeida-80-IGI1mr24-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* .container-fluid{
    
} */

/* .container{
    margin: 20%;
} */

h1, h2, h4{
    color: rgb(252, 247, 227);
    text-align: center;
    text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000;
}

p{
    font-size: 20px;
    color: rgb(252, 247, 227);
    text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000;
    /* You can try this, too, for outline effect on text. */
    /* text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased; */
}

/* .options{
    justify-content: center;
} */

/* .col{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
} */

.btn{
    background-color: rgba(0, 0, 0, 0.883); 
    border: #fffcf2; 
    border-style: solid;
    color: rgb(252, 247, 227);
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
    border-width: 2px;
    padding: 7px 10px;
    margin: 10px;
    /* text-align: center; */
    transition: .2s ease-in-out;
}

/* .btn-group{
    justify-content: center;
} */

.btn:hover{
    color: #fffcf2;
    background-color: rgba(126, 126, 126, 0.556); 
    transform: scale(1.05);
}

/* @media(max-width:770px){
    .options2{
        display: block;
        justify-content: center;
    }
}

@media(max-width:470px){
    .options2{
        display: block;
        justify-content: center;
    }
} */