body{
    /* background-color: #fffcf2; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(/images/frederico-almeida-80-IGI1mr24-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* .container{
    height: 100%;
} */


/* .container-fluid{

} */

/* .card{
    padding: 20px;
} */

h1, h2{
    color: rgb(252, 247, 227);
    text-align: center;
}

p{
    font-size: 20px;
    color: rgb(252, 247, 227);
}

/* .options{
    justify-content: center;
} */

.col{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.btn{
    background-color: black; 
    border: #fffcf2; 
    border-style: solid;
    color: cornsilk;
    border-width: 2px;
    padding: 7px 10px;
    margin: 20px;
    /* text-align: center; */
    transition: .2s ease-in-out;
}

.btn:hover{
    color: #fffcf2;
    transform: scale(1.05);
}